[submodule "frontend"]
	path = frontend
	url = https://github.com/Zentik-notifier/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Zentik-notifier/backend.git
[submodule "docs"]
	path = docs
	url = https://github.com/Zentik-notifier/docs.git
[submodule "org"]
	path = org
	url = https://github.com/Zentik-notifier/.github.git
